@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Buenos Aires, Argentina<br />
    <abbr title="Phone"></abbr>
    011-5486-9093
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:barbaramiamolinari@gmail.com">barbaramiamolinari@gmail.com</a><br />
    <strong>LinkedIn:</strong>   <a href="https://www.linkedin.com/in/b%C3%A1rbara-molinari-a80342184/">Molinari Bárbara</a><br />
    <strong>GitHub:</strong>   <a href="https://github.com/barbaramolinari">Bárbara Molinari</a><br />
</address>